<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include 're2012/head' %}

    <title>{{ show.name }}</title>

    <meta property="og:title" content="{{show.name}}"/>		
    <meta property="og:image" content="{{show.url_for}}{{theme.url_for_assets}}/images/ban-slide-sample.jpg" />
  </head>
  <body class="show">
	  <div id="container">
		  <div id="header">
        {% include 're2012/header_festival' %}

        <div id="ban">
				  <div id="img_ban">
            {% unless show.episodes == empty %}

            {% for header_episode in show.tag.headline limit:1 %}
            <a href="{{ header_episode.url_for }}" title="{{ header_episode.title }}">
              <span class="caption">{{ header_episode.title }}</span>
              <img src="{{ header_episode.image.url_for_larg }}" alt="{{ header_episode.title }}"/>
            </a>
            {% endfor %}
            {% else %}
            <img src="{{theme.url_for_assets}}/images/ban-slide-sample.jpg"/>
            {% endunless %}
          </div>

          {% include 're2012/header_share' %}

				  <div id="box_ticket">
            <strong>Radio Esperanzah!</strong>
            En direct du 2 au 5 août
				  </div>
			  </div>
      </div>

      <div id="content">
        <div class="content_articles">
          {% for post in show.posts limit:1 %}
          <div class="articles">
			      <div class="header_articles">
				      <h1>
                {{post.title}}
              </h1>
			      </div>
			      <div class="txt_articles">			
						  <div class="excerpt_txt">
                {{ post.description | textilize }}
                <div class="share_articles">
					        <div class="liens_share">
						        <a href="http://www.facebook.com/share.php?u={{show.url_for}}" title="Partager sur Facebook" target="_blank">
                      <img src="{{theme.url_for_assets}}/images/picto_fb_mini.png" alt="Partager sur FaceBook">
                    </a>
						        <a href="http://twitter.com/intent/tweet?hashtags=esperanzah&amp;text={{post.title}}&amp;url={{show.url_for}}" title="Partagez sur Twitter" target="_blank">
                      <img src="{{theme.url_for_assets}}/images/picto_tw_mini.png" alt="Partagez sur Twitter">
                    </a>
					          <span>Vous avez aimé ? Partagez !</span>
					        </div>
				        </div>
								<br>
							</div>

			        <div class="footer_articles">
			        </div>
			      </div>
		      </div>
          {% endfor %}

          {% include 're2012/program' %}

          <div class="articles">
			      <div class="smallheader_articles">
				      <h1>
                Archives
              </h1>
			      </div>
			      <div class="txt_articles">			
						  <div class="excerpt_txt">
                <p>
                  Redécouvrez toutes les éditions précédentes de Radio Esperanzah! :
                </p>

                <div id="archives">
                  <a href="http://radio-esperanzah-2011.bonnes-ondes.fr">2011</a>
                  <a href="http://radio-esperanzah-2010.bonnes-ondes.fr">2010</a>
                  <a href="http://radio-esperanzah-2009.bonnes-ondes.fr">2009</a>
                  <a href="http://radio-esperanzah-2008.bonnes-ondes.fr">2008</a>
                  <a href="http://2007.esperanzah.be/radio">2007</a>
                  <a href="http://www.autres-mondes.org/evenements/2006/radio-esperanzah">2006</a>
                  <a href="#">...</a>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="content_sidebar">
          {% include 're2012/sidebar_twitter' %}
          {% include 're2012/sidebar_facebook' %}
          {% include 're2012/sidebar_partenaires' %}
        </div>
      </div>

    </div>
  </body>
</html>
