<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="Esperanzah! 2012">		
    <meta property="og:type" content="Event" />
    <meta property="og:site_name" content="Esperanzah! 2012">
    <meta name="keywords" content="Esperanzah, Esperanzah!, festival, musique, floreffe, namur, belgique" />
    <meta name="description" content="Festival Esperanzah!, du 3 au 5 août à l'Abbaye de Floreffe"/>
    <meta name="rating" content="general" />
    <meta name="expires" content="never" />
    <meta name="revisit-after" content="7 days" />
    <meta name="localisation" content="Floreffe" />
    <meta name="URL" content="http://www.esperanzah.be" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ show.name }}</title>
    <link rel="icon" type="image/x-icon" href="{{theme.url_for_assets}}/images/esperanzah.ico"  />
    <link href="{{theme.url_for_assets}}/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="https://platform.twitter.com/anywhere.js?id=NB6w10k567glsyr7fKRJiQ&v=1" type="text/javascript"></script>
    
    <script type="text/javascript">
      twttr.anywhere.config({ callbackURL: "{{ show.url_for }}" });
    </script>               

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{theme.url_for_assets}}/javascripts/application.js"></script>

    <!--[if IE]>
        <style>
          @font-face{
  	      font-family: "dine";
	        src: url("media/DINEngschriftStd.otf");
          }
        </style>
        <![endif]-->

    <link rel="alternate" type="application/rss+xml" title="Radio Esperanzah! 2012" href="{{show.url_for_podcast}}" />
  </head>
  <body>
	  <div id="container">
		  <div id="header">
			  <div id="logo">
				  <h1><a href="http://www.esperanzah.be" title="Esperanzah 2012"><img src="{{theme.url_for_assets}}/images/logo.png" alt="" /></a></h1> 
			  </div>
			  <div id="menu">
				  <div class="menu-menu-container">
            <ul id="menu-menu" class="menu">
              <li>
                <a title="Programmation" href="http://www.esperanzah.be/programmation/">Programmation</a>
              </li>
              <li>
                <a title="Tickets" href="http://www.esperanzah.be/tickets/">Tickets</a>
              </li>
              <li>
                <a title="Pratique" href="http://www.esperanzah.be/pratique/">Pratique</a>
              </li>
              <li>
                <a title="Engagement" href="http://www.esperanzah.be/engagement/">Engagement</a>
              </li>
              <li>
                <a href="http://www.esperanzah.be/les-a-cote/">Ambiance</a>
              </li>
            </ul>
          </div>				
          <div class="ligne_menu"></div>
			  </div>
			  <div class="clear"></div>

        <div id="ban">
				  <div id="img_ban" style="">
            <img src="{{theme.url_for_assets}}/images/ban-slide-sample.jpg"/>
          </div>

				  <div id="header_share">
					  <a href="http://www.facebook.com/RadioEsperanzah" title="Radio Esperanzah! sur Facebook" target="_blank">
              <img src="{{theme.url_for_assets}}/images/picto_fb2.png" alt="">
            </a>
					  <a href="http://twitter.com/radioesperanzah" title="Radio Esperanzah! sur Twitter" target="_blank">
              <img src="{{theme.url_for_assets}}/images/picto_tw2.png" alt="">
            </a>
					  <a href="http://flickr.com/groups/radio-esperanzah" title="Tous les photos de Radio Esperanzah!" target="_blank">
              <img src="{{theme.url_for_assets}}/images/picto_flkr3.png" alt="">
            </a>
					  <a href="/feed" title="Abonnez-vous au Podcast de Radio Esperanzah" target="_blank">
              <img src="{{theme.url_for_assets}}/images/picto_podcast.png" alt="">
            </a>
					  <div class="clear"></div>
				  </div>
				  <div id="box_ticket">
            <strong>Radio Esperanzah!</strong>
            En direct du 2 au 5 août
				  </div>
			  </div>
      </div>

      <div id="content">
        <div class="content_articles">
          {% for post in show.posts limit:1 %}
          <div class="articles">
			      <div class="header_articles">
				      <h1>
                {{post.title}}
              </h1>
			      </div>
			      <div class="txt_articles">			
						  <div class="excerpt_txt">
                {{ post.description | textilize }}
                <div class="share_articles">
					        <div class="liens_share">
						        <a href="http://www.facebook.com/share.php?u={{show.url_for}}" title="Partager sur Facebook" target="_blank">
                      <img src="{{theme.url_for_assets}}/images/picto_fb_mini.png" alt="Partager sur FaceBook">
                    </a>
						        <a href="http://twitter.com/intent/tweet?hashtags=esperanzah&amp;text={{post.title}}&amp;url={{show.url_for}}" title="Partagez sur Twitter" target="_blank">
                      <img src="{{theme.url_for_assets}}/images/picto_tw_mini.png" alt="Partagez sur Twitter">
                    </a>
					          <span>Vous avez aimé ? Partagez !</span>
					        </div>
				        </div>
								<br>
							</div>

			        <div class="footer_articles">
			        </div>
			      </div>
		      </div>
          {% endfor %}
        </div>

        <div class="content_sidebar">
          <div id="twitter-widget-2" class="widget twitter-widget">
            <h2 class="widgettitle">Sur Twitter</h2>
 
            <ul class="tweets">
              <li>
                <div id="twitter-follow"/>
              </li>
						</ul>

            <script type="text/javascript">
              twttr.anywhere(function (T) {
              T('#twitter-follow').followButton("radioesperanzah");
              });
            </script>
					</div>          

          <div id="facebook-2" class="widget widget_facebook">
	          <h2 class="widgettitle">Sur FaceBook</h2>
	          <div>
	            <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FRadioEsperanzah&amp;width=268&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=201916213207123" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:272px; height:290px;" allowtransparency="true"></iframe>
	          </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
